In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Punta Arenas,CL,2020-04-20 02:12:35,-53.15,-70.92,42.01,65,40,14.99
1,1,Matara,LK,2020-04-20 02:16:24,5.95,80.54,84.72,73,1,8.21
2,2,Nicoya,CR,2020-04-20 02:16:25,10.15,-85.45,73.00,85,4,10.00
3,3,Turayf,SA,2020-04-20 02:16:25,31.67,38.66,57.20,54,0,6.93
4,4,Nishihara,JP,2020-04-20 02:16:25,26.18,127.76,66.20,93,90,6.93

In [3]:
# Get the data types.
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]

# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]

# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# Assign the heatmap variable.
# heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp])
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4) 

# Add the heatmap layer.
fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent Cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of Wind Speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [13]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [14]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
1,1,Matara,LK,2020-04-20 02:16:24,5.95,80.54,84.72,73,1,8.21
5,5,Gizo,SB,2020-04-20 02:16:25,-8.10,156.84,84.02,72,83,2.73
6,6,Kawalu,ID,2020-04-20 02:16:26,-7.38,108.21,87.30,55,39,2.93
10,10,Karratha,AU,2020-04-20 02:16:27,-20.74,116.85,87.69,51,95,9.84
19,19,Vaini,TO,2020-04-20 02:16:29,-21.20,-175.20,84.20,74,20,11.41
22,22,Umuahia,NG,2020-04-20 02:16:29,5.53,7.49,75.31,81,100,4.07
24,24,Georgetown,MY,2020-04-20 02:13:21,5.41,100.34,87.80,83,20,2.91
28,28,Mareeba,AU,2020-04-20 02:16:31,-17.00,145.43,89.01,68,47,1.99
36,36,Hambantota,LK,2020-04-20 02:13:38,6.12,81.12,84.20,76,5,11.68
37,37,Marang,MY,2020-04-20 02:16:33,5.21,103.21,84.20,79,40,3.36

In [15]:
preferred_cities_df.count()

City_ID       155
City          155
Country       155
Date          155
Lat           155
Lng           155
Max Temp      155
Humidity      155
Cloudiness    155
Wind Speed    155
dtype: int64

In [16]:
# CreatDataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df

               City Country  Max Temp    Lat     Lng Hotel Name
1            Matara      LK     84.72   5.95   80.54
5              Gizo      SB     84.02  -8.10  156.84
6            Kawalu      ID     87.30  -7.38  108.21
10         Karratha      AU     87.69 -20.74  116.85
19            Vaini      TO     84.20 -21.20 -175.20
..              ...     ...       ...    ...     ...        ...
559       Indramayu      ID     86.09  -6.33  108.32
560     Port-Gentil      GA     79.81  -0.72    8.78
565         Veraval      IN     84.70  20.90   70.37
568  Kulhudhuffushi      MV     86.56   6.62   73.07
570       Singapore      SG     87.80   1.29  103.85

[155 rows x 6 columns]

In [17]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [18]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels['results'][0]['name']
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [20]:
# Check if df has Hotels
hotel_df

               City Country  Max Temp    Lat     Lng              Hotel Name
1            Matara      LK     84.72   5.95   80.54  Amaloh Boutique Resort
5              Gizo      SB     84.02  -8.10  156.84      Imagination Island
6            Kawalu      ID     87.30  -7.38  108.21        KOSAN UNGU UNSIK
10         Karratha      AU     87.69 -20.74  116.85    ibis Styles Karratha
19            Vaini      TO     84.20 -21.20 -175.20     Keleti Beach Resort
..              ...     ...       ...    ...     ...                     ...
559       Indramayu      ID     86.09  -6.33  108.32     Grand Trisula Hotel
560     Port-Gentil      GA     79.81  -0.72    8.78      Fengshui Residence
565         Veraval      IN     84.70  20.90   70.37       Lords Inn Somnath
568  Kulhudhuffushi      MV     86.56   6.62   73.07     Haajy Guest House 1
570       Singapore      SG     87.80   1.29  103.85  Swissôtel The Stamford

[155 rows x 6 columns]

In [21]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

marker_layer = gmaps.marker_layer(locations)

fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [22]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))